.wrap {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

/*header start*/

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    padding: 10px 30px;

    @include mobile() {
        position: fixed;
        z-index: 101;
    }

    h1 a {
        width: 120px;
        height: 24px;
        background-image: url(../images/logo_w@svg.svg);
        @include hide-text;
    }

    .showMenu {
        font-size: $font-l;
        color: $linkColor;
        display: none;

        @include mobile() {
            display: block;
        }
    }
}

.menuClose .menu {
    @include mobile() {
        max-height: 300px;
    }
}

.menu {
    display: flex;

    @include mobile() {
        flex-direction: column;
        position: absolute;
        z-index: 100;
        top: 80px;
        right: 0;
        left: 0;
        background: orange;
        display: block;
        max-height: 0px;
        overflow: hidden;
        transition: all 1s;
    }

    li {
        @include mobile() {
            border-bottom: 1px solid black;
        }
    }

    li a {
        padding: 10px;
        color: $linkColor;
        text-align: center;
        font-weight: bold;
        &:hover {
            background: orangered;
        }

        @include mobile() {
            font-size: $font-l;
        }
    }
}

.banner {
    background-image: url(../images/header_desktop.png);
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include pad() {
        background-image: url(../images/header_768.png);
    }

    @include mobile() {
        background-image: url(../images/header_mobile.png);
    }
}


.bannerContent {
    background: rgba(0, 0, 0, 0.35);
    padding: 40px 20px;

    h2 {
        color: #ffffff;
        font-size: 36px;
        margin-bottom: 16px;
    }

    p {
        color: #ffffff;
        text-align: center;
    }
}

/*header end*/

/*footer start*/

.footer {
    background: rgb(239, 233, 231);
    padding: 6% 5%;
}

.introduction {
    display: flex;
    justify-content: space-between;

    h3 {
        margin-bottom: 16px;
        font-size: $font-l;
    }

    p {
        line-height: 24px;
    }

    @include mobile() {
        flex-direction: column;
    }

    >li {
        max-width: 33%;
        @include mobile() {
            max-width: 100%;
            margin-bottom: 15%;
        }
    }

    .hide {
        @include pad() {
            display: none;
        }

        @include mobile() {
            display: block;
        }
    }

    h2 a {
        background-image: url(../images/logo_l@svg.svg);
        width: 243px;
        height: 48px;
        @include hide-text;
    }
}

.contactInformation li {
    list-style: disc;
    margin-left: 24px;
    margin-bottom: 6px;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.blogLink {
    display: flex;
    justify-content: end;
    font-size: 36px;
    li {
        margin: 20px 0 0 15px;
    }
}

.instagram {
    color: $linkColor;
    background: #df47f3;
    &:hover {
        background: #af21f1;
    }
}

.twitter {
    color: #3ce5eb;
    &:hover {
        color: #23a8f5;
    }
}

.facebook {
    color: #0e57f3;
    &:hover {
        color: #0a21ee;
    }
}

/*footer end*/